<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Horsecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- CDN for icons -->
    <script src="https://use.fontawesome.com/dec0e9e92b.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>

<body>

    <div class="container">

        <!--Navbar-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a id="codecool" th:href="${'/'}">Codecool Shop<span class="sr-only">(current)</span></a></li>
                        <li> <a th:href="${'/'}">All Products</a></li>

                        <!--Dropdown menu for filters-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter by <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Categories</li>
                                <li><a th:each="cat,iterStat : ${categories}" th:href="${'/category/'+cat.id}" th:text="${cat.name}"></a>
                                </li>
                                <hr/>
                                <li class="dropdown-header">Supplier</li>
                                <li><a th:each="sup,iterStat : ${supplier}" th:href="${'/supplier/'+sup.id}" th:text="${sup.name}"></a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- navbar-left will move the search to the left -->
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <button id="modal-button" type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
                                <a id="shopping-cart" href="#">
                                    <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                                    <p id="items-counter" th:text="${counter}"></p>

                                </a>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog modal-lg">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 id="table-title" class="modal-title">Your Shopping Cart </h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-hover table-responsive ">
                                                <thead>
                                                <tr>
                                                    <th class="text-center col-md-1">Product name</th>
                                                    <th class="text-center col-md-1">Quantity</th>
                                                    <th class="text-center col-md-1">Unit Price</th>
                                                    <th class="text-center col-md-1">Subtotal</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="item,iterStat : ${lineitems}">
                                                    <td th:text="${item.productName}"></td>
                                                    <td th:text="${item.quantity}"></td>
                                                    <td th:text="${item.defaultPrice}"></td>
                                                    <td th:text="${item.subtotal}"></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td id="total" class="text-center col-md-1" th:text="'Total price: '+${totalprice}">Total: </td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

<!-- Jumbotron with title and description-->
<div class="container">
    <div class="jumbotron text-center">
        <h1 id="title" th:text="${title}"></h1>
        <h3 id="slogan" th:text="${slogan}"></h3>
    </div>

    <!-- Products list-->
    <div id="products" class="row list-group">
        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/img/product_' + ${prod.id} + '.jpg'" th:alt="${prod.name}"/>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product
                        description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" th:href="${'/tocart/'+prod.id}">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="bottom" data-brackets-id="18" class="btn btn-default btn-lg" role="button" href="#top">Back to the top</a>
</div>

</body>
</html>