<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/fragments/head::head"></head>
<body>
<div class="container">
    <!--Navbar-->
    <nav th:replace="product/fragments/navbar::reduced_navbar"></nav>
</div>
<div class="container">
    <div class="item col-xs-8 col-lg-6">
        <div class="row">
        <div class="show_product">
            <h2 class="group inner list-group-item-heading" th:text="${product.name}">Product name</h2>
            <p class="group inner list-group-item-text" th:text="${product.description}">Product
                description... </p>
            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                 th:attr="src='/img/product_' + ${product.id} + '.jpg'" th:alt="${product.name}"/>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <p class="lead" th:text="${product.getPrice()}">100 USD</p>
            </div>
        </div>
    </div>
    <!--<form method="POST">-->
        <!--<div class="form-group col-xs-6 col-lg-6">-->
            <!--<input id="msg" type="text" class="form-control" name="name" placeholder="Name" value="Anonymous"></input>-->
            <!--<textarea class="form-control" rows="5" id="comment" name="review" placeholder="Write a review"></textarea>-->
            <!--<select class="selectpicker">-->
                <!--<option value="" disabled="true" selected="true">Rate</option>-->
                <!--<option value="1">1</option>-->
                <!--<option value="2">2</option>-->
                <!--<option value="3">3</option>-->
                <!--<option value="4">4</option>-->
                <!--<option value="5">5</option>-->
            <!--</select>-->
            <!--&lt;!&ndash;<a th:href="${'/newReview/'+item.productName}">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-minus-square-o blackicon minus" aria-hidden="true"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</div>-->
    <!--</form>-->


    <div class="form-group col-xs-6 col-lg-6">
        <form th:action="'/newReview/' + ${product.name}" method="post">

            <input type="text" id='title' name="name" placeholder="Name"/>

            <textarea name="comment" placeholder="Your review..."></textarea>

                <select class="selectpicker" name="ratings">
                    <option value="" disabled="true" selected="true">Rate</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

            <button id="save" type="submit">Submit review</button>
        </form>
    </div>


    <div class="item col-xs-12 col-lg-12">
        <div class="row">
            <h3>Reviews:</h3>
            <div class="col-xs-12 col-md-12" th:each="review,iterStat : ${reviews}">
                <p class="lead" th:text="${review.text}">text</p>
                <a th:href="${review.url}" th:text="${review.url}">Url</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>