<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/fragments/head::head"></head>

<body>
<div class="container">
    <!--Navbar-->
    <nav th:replace="product/fragments/navbar::cart_navbar"></nav>
</div>

<div class="container">
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover table-responsive ">

            <thead>
            <tr>
                <td id="table-caption" colspan='12' class="text-center"><h3>Your Shopping Cart</h3></td>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th class="text-center col-md-3">Product name</th>
                <th class="text-center col-md-3">Unit Price</th>
                <th class="text-center col-md-3">Subtotal</th>
                <th class="text-center col-md-3">Quantity</th>

            </tr>
            <tr th:each="item,iterStat : ${lineitems}">
                <td th:text="${item.productName}"></td>
                <td th:text="${item.defaultPrice}"></td>
                <td th:text="${item.subtotal}"></td>
                <td id="q">

                    <!--Minus button-->
                    <a th:href="${'/minus/'+item.productID}" id="reduce">
                        <i class="fa fa-minus-square-o blackicon minus" aria-hidden="true"></i>
                    </a>


                    <!--Display quantities of lineItem-->
                    <p th:text="${item.quantity}" class="quantity"></p>


                    <!--Plus button-->
                    <a th:href="${'/plus/'+item.productID}" id="add">
                        <i class="fa fa-plus-square-o blackicon plus" aria-hidden="true" ></i>
                    </a>


                    <!--Bin (delete) icon-->
                    <a th:href="'/deleteItem/'+${item.productID}">
                        <i class="fa fa-trash-o bin redicon" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <th class="col-md-3"></th>
                <th class="col-md-3"></th>
                <th class="col-md-3"></th>
                <th class="col-md-3" th:text="'Total price: '+${totalprice}">Total: </th>
            </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-default col-md-2"><a href="/">Continue Shopping</a></button>
            <div class="col-md-8"></div>
            <button type="button" class="btn btn-primary col-md-2" data-dismiss="modal" data-toggle="modal" data-target="#checkoutModal">Checkout</button>
        </div>
    </div>
</div>
</div>

<!-- Checkout Modal -->
<div id="checkoutModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Checkout</h4>
            </div>
            <form class="form-horizontal">

                <div class="modal-body">

                    <!-- name -->
                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control"  id="inputName" name="inputName" placeholder="name" required="required"/>
                        </div>
                    </div>
                    <!-- email -->
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="email" required="required"/>
                        </div>
                    </div>
                    <!-- phone number -->
                    <div class="form-group">
                        <label for="inputPhoneNumber" class="col-lg-2 control-label">Phone number</label>
                        <div class="col-lg-10">
                            <input type="tel" class="form-control" id="inputPhoneNumber" name="inputPhoneNumber" placeholder="phone number" required="required"/>
                        </div>
                    </div>
                    <!-- address -->
                    Billing address:
                    <!-- country-->
                    <div class="form-group">
                        <label for="billingCountry" class="col-lg-2 control-label">Country</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="billingCountry" name="billingCountry" placeholder="country" required="required"/>
                        </div>
                    </div>
                    <!-- city -->
                    <div class="form-group">
                        <label for="billingCity" class="col-lg-2 control-label">City</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="billingCity" name="billingCity" placeholder="city" required="required"/>
                        </div>
                    </div>
                    <!-- zipcode -->
                    <div class="form-group">
                        <label for="billingZipcode" class="col-lg-2 control-label">Zipcode</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="billingZipcode" name="billingZipcode" placeholder="zipcode" required="required"/>
                        </div>
                    </div>
                    <!-- address -->
                    <div class="form-group">
                        <label for="billingAddress" class="col-lg-2 control-label">Address</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="billingAddress" name="billingAddress" placeholder="address" required="required"/>
                        </div>
                    </div>

                    Shipping address:
                    <!-- country-->
                    <div class="form-group">
                        <label for="shippingCountry" class="col-lg-2 control-label">Country</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="shippingCountry" name="shippingCountry" placeholder="country" required="required"/>
                        </div>
                    </div>
                    <!-- city -->
                    <div class="form-group">
                        <label for="shippingCity" class="col-lg-2 control-label">City</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="shippingCity" name="shippingCity" placeholder="city" required="required"/>
                        </div>
                    </div>
                    <!-- zipcode -->
                    <div class="form-group">
                        <label for="shippingZipcode" class="col-lg-2 control-label">Zipcode</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="shippingZipcode" name="shippingZipcode" placeholder="zipcode" required="required"/>
                        </div>
                    </div>
                    <!-- address -->
                    <div class="form-group">
                        <label for="shippingAddress" class="col-lg-2 control-label">Address</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="shippingAddress" name="shippingAddress" placeholder="address" required="required"/>
                        </div>
                    </div>

                    <!-- Trigger payment modal with a button -->
                </div> <!-- /.modal-body -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary checkout-button" data-dismiss="modal" data-toggle="modal" data-target="#paymentModal" disabled="disabled"><input class="hidden" type="submit" value="payment"/>Pay</button>
                </div>
            </form> <!-- /.form-horizontal -->
        </div>
    </div>
</div>

</body>
</html>