a :hover {
    text-decoration: none;
}


.jumbotron h3{
    color: rgba(0,0,0,0.5);
}

/*.jumbotron h1{*/
    /*color: rgba(0,0,0,0.5);*/
/*}*/

.glyphicon {
    margin-right:5px;

}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;

}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

#to-the-top{
    height: 50px;
    width: 200px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.dropdown-header {
    font-size: 19px;
}
hr {
    margin: 5px;
}


.menu {
    margin-top: 10px;
    display: inline-block;
}

.left {
    float: left;
    margin-top: 20px;
    font-size: 1.4em;
}

.right {
    float: right;
    margin-bottom: 10px;
    /*position: absolute;*/
}

#items-counter {

    width: 1.5em;
    /*font-size: 1.3em;*/
    text-align: center;
    margin: 0 0 0 0;
    display: inline-block;
    border-radius: 100%;
    color: white;
    background-color: orangered;
    vertical-align: middle;

}

#div-counter {
    display: inline;
    margin-bottom: 5px;
}

.fa-shopping-cart {
    /*position: relative;*/
}

#bottom {
    margin-bottom: 1em;
}


.select {
    margin-bottom: 10px;
}
